{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h3><p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p></h3>
{% endblock fos_user_content %}
